.img {
     border: 20px double #FFD700;
}

.menu {
    display: flex;
    justify-content: center;
    border: 2.5px solid #f7f4ba;
    font-family: Arial;
    font-size: 200%;
    border-collapse: collapse;
}

.menuselect:hover {
    background-color: lightsalmon;
}

hr {
    position: relative;
    top: 0px;
    border: none;
    height: 12px;
    background: antiquewhite;
    margin-bottom: 10px;
}

.btable, .bth, .btd {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

.bta {
    border: 2px solid black;
    border-collapse: collapse;
}

